# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
Thumbs.db

# Env files
.env
.env.local
.env.*.local

# Vercel
.vercel

# Mac
.AppleDouble
.LSOverride

src/functions/yakk-472016-c8b6971457c3.json
functions/yakk-472016-c8b6971457c3.json
